/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
    /* debug */
    background-color: grey; 
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav ul li {
    margin-right: 10px;
}