/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display:flex
}

.display-block {
    display: block;
}

.border {
    border: solid 1px gray;
}

.justify-between {
    justify-content: space-between;
}

/* HEADER */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
    background-color: white;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
}

.nav ul li {
    margin-right: 20px;
}
.btn {
    background-color: #297AFE;
    color: white;
    padding: 10px;
}

.nav a:not(.btn) {
    color: black;
}

.jumbotron {
    margin-top: 50px;
    /* debug */
    background-color: lightskyblue;
    padding: 30px;
}

.jumbotron-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    top: 50px;
}

.jumbotron-text {
    width: 30%;
}

.jumbotron-text i {
    font-size: 30px;
    color: black;
}
.jumbotron img {
    height: 500px;
    width: 70%;
}
.jumbotron h1 {
    font-size: 60px;
    margin-bottom: 35px;
}

/* MAIN */

.container {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}
.margin-auto {
    width: 60%;
    margin: 100px auto;
}

.plans h2 {
    margin-bottom: 20px;
}
.plans > span {
    margin-right: 20px;
}

.col {
    width: calc(100% / 3 - 20px);
    margin-top: 16px;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col-name {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.col-info {
    padding: 10px;
}
.col-info > * {
    margin: 20px 0;
}

.col-info hr {
    width: 30%;
}
.col-info ul li {
    margin: 10px 0;
    font-size: 10px;
}
.col-info .btn {
    text-align: center;
}

.col-info li{
    list-style-type: none;
}

.full-width-col {
    margin-top: 10px;
    border: 1px solid black;
}

.col-team {
    width: calc(100% / 1);
    /* debug */
    background-color: blanchedalmond;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.enter {
    display: flex;
    margin-bottom: 30px;
}

.large-col {
    width: 60%;
    /* debug */
    min-height: 200px;
    background-color: red;
}

.small-col {
    width: 40%;
    /* debug */
    min-height: 200px;
    background-color: blue;
}

.esegui {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.col-small {
    width: calc(100% / 3 - 20px);
    /* debug */
    background-color: green;
    border: 1px solid black;
    margin-top: 20px;
    height: 200px;
}

.clients {
    /* debug */
    height: 200px;
    border: 1px solid black;
}

.testimonials {
  display: flex;
  margin-top: 30px;
}

.testimonials-logo {
    /* debug */
    width: calc(100% /3);
    height: 300px;
    background-color: blueviolet;
    border: 1px solid black;
}

.text {
    /* debug */
    width: calc(100% /3);
    height: 300px;
    background-color: blueviolet;
    border: 1px solid black;
 }

 .free-trial-container {
    background-color: lightcoral;
    padding: 10px;
}
.free-trial {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 100px auto;
    justify-content: space-between;
}
.free-trial a {
    padding: 10px 20px;
    background-color: white;
    color: black;
}

.faq {
    width: 60%;
    margin: 100px auto;
}

.faq h2 {
    margin-bottom: 20px;
}
.faq strong {
    margin: 20px 0;
}
.faq div {
    align-items: center;
}

.question {
    display: flex;
    justify-content: space-between;
}

/* FOOTER  */

.flex-container {
    display: flex;
    justify-content: space-between;
}

footer {
    /* debug */
    background-color: black;
    color: white;  
    height: 400px;
}

.footer-links {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.footer-links a {
    color: white;
}

.links li {
    list-style-type: none;
}

.links ul li  {
    margin: 10px 0;
}
